<html>
    <body>
        <h1>About This Website</h1>
        <p>This website is fully custom, as it constitutes an ongoing personal project to learn more about web
            development (otherwise I would just have created a WordPress instance). It has been rebuilt multiple times
            using different technology stacks.</p>

        <p>The current iteration of this website was built using Python and the Django web framework with the
        following additional libraries:</p>
        <ul>
            <li><a href="https://aiosmtpd.readthedocs.io/en/latest/">aiosmtpd</a>, used for testing components of
                this website which involve a mail server (e.g., the contact form) during development.</li>
            <li><a href="https://cloud.google.com/recaptcha-enterprise/docs/libraries">google-cloud-recaptcha-enterprise
                </a>, used for ReCAPTCHA validation on the contact form.</li>
            <li><a href="https://beautiful-soup-4.readthedocs.io/">beautifulsoup4</a>, used for formatting adjustment
                during page rendering.</li>
        </ul>
        <hr>
        <p>The previous iteration of this website was built using Kotlin/Spring Web MVC on Linux (Ubuntu Server).</p>
        <p>Libraries used in the current iteration:</p>
        <ul>
            <li><a href="https://github.com/Kotlin/kotlinx.serialization">Kotlin serialization extension (kotlinx.serialization)</a></li>
            <li><a href="https://spring.io/projects/spring-boot">Spring Boot</a><ul>
                <li><a href="https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-web">Starter Web</a></li>
                <li><a href="https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-data-jdbc">Starter Data JDBC</a></li>
                <li><a href="https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-security">Starter Security</a></li>
                <li><a href="https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-mail">Starter Mail</a></li>
            </ul></li>
            <li>Dr. Taro L. Saito's <a href="https://github.com/xerial/sqlite-jdbc">SQLite JDBC</a></li>
            <li><a href="https://jsoup.org/">Jsoup</a></li>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li>Vadikom's <a href="https://www.smartmenus.org/">jQuery SmartMenus</a></li>
            <li><a href="https://notifyjs.jpillora.com/">Notify.js</a></li>
        </ul>
        <hr>
        <p>The iteration before that was built on a LAMP (Linux-Apache-MySQL-PHP) stack as a personal project to learn about web development.</p>
        <p>Libraries used in the previous iteration:</p>
        <ul>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li>Ivo Petkov's <a href="https://github.com/ivopetkov/html5-dom-document-php">HTML5DOMDocument</a></li>
            <li>Vadikom's <a href="https://www.smartmenus.org/">jQuery SmartMenus</a></li>
            <li><a href="https://github.com/medialize/sass.js/">Sass.js</a> (used for SmartMenus theme testing)</li>
            <li><a href="https://notifyjs.jpillora.com/">Notify.js</a></li>
        </ul>
    </body>
</html>