<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Manufacturing Simulation</h1>
    <img src="/static/assets/manuf_sim_screenshot.png" style="max-height: 400px;">
    <p>A manufacturing simulation web application was developed under the supervision of Dr. Faisal Aqlan at
    Penn State Behrend. The application was meant as a platform for testing different types of manufacturing workflows
    and theories (e.g., LEAN manufacturing) in a simulated environment which could provide detailed telemetry.
    In this simulator, participants build toy cars using building bricks according to customer orders.</p>

    <p>Take it for a spin at <a href="https://mfgsim.saamankhali.net">mfgsim.saamankhali.net</a>.</p>
</body>
</html>