<html lang="en">
	<body>
		<h1>Penn Snake Behrend</h1>
		<p>Penn Snake Behrend is a project at Penn State's Behrend campus that aims to create an open-source robotic snake for use by researchers at Behrend and other institutions. The project is led by Dr. Joseph Paullet, Ph. D., Professor of Mathematics; my tasks mainly focus on developing robot software.</p>
		<p>Visit <a href="http://math.bd.psu.edu/faculty/paullet/robotics.html">the project page on Dr. Paullet's faculty website</a> to learn more.</p>
	</body>
</html>
